<a href="https://colab.research.google.com/github/apguarnerosa/apgaibm/blob/main/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **TIPOS** **DE** **DATO**

In [1]:
edad = 30
precio = 19.99
nombre = "Samuel"
esta_activo = True

In [2]:
print(type(edad))
print(type(precio))
print(type(nombre))
print(type(esta_activo))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

# **OPERACIONES** **BÁSICAS**

In [3]:
numero1 = 10
numero2 = 5

In [4]:
suma = numero1 + numero2
resta = numero1 - numero2
multiplicacion = numero1 * numero2
division = numero1 / numero2

print('Suma: ', suma)
print('Resta: ', resta)
print('Multiplicación: ', multiplicacion)
print('Division: ', division)

Suma:  15
Resta:  5
Multiplicación:  50
Division:  2.0

# **CADENAS DE TEXTO**

In [5]:
#Concatenacion de cadenas de texto

saludo = 'Hola, '
nombre_completo = saludo + 'Ana'

print(nombre_completo)

Hola, Ana

In [6]:
# Repetición de cadena
repetir_texto = 'Python ' * 3

print(repetir_texto)

Python Python Python

# **SENTENCIAS CONDICIONALES**

In [9]:
# if, elif, else

# Creación de una sentencia para saber si el número es par o impar

numero = 10

if numero % 2 == 0:
  print('El número:', numero, 'es par')
else:
  print('El número:', numero, 'es impar')

El número: 7 es impar

In [12]:
# Ejercicio

# Creacion de una variable 'total_compra' que sea la suma de todas las compras realizadas

art1 = 2
art2 = 11
art3 = 2
art4 = 7
art5 = 5

total_compra = sum([art1, art2, art3, art4, art5])

if total_compra >= 100:
  print('¡Felicidades!, tienes un 10% adicional')
else:
  print('¡Continua comprando para ganar un descuento!')

¡Continua comprando para ganar un descuento!

## **BUCLES**

**Ciclo for**

In [1]:
# Ciclo for

# 1. Realiza una lista/tupla

frutas = ["manzana", "fresa", "kiwi", "pera", "sandia", "platano"]

for i in frutas:
  print(i)

manzana
fresa
kiwi
pera
sandia
platano

**Ciclo while**

In [4]:
# Ciclo while

contador = 1

while contador <= 5:
  print(contador)
  contador += 1

1
2
3
4
5

In [6]:
# Ejercicio while

calificaciones = [8.6, 9.0, 10.0, 8.7, 9.3]

suma_calificaciones = 0

for i in calificaciones:
  suma_calificaciones += i


promedio = suma_calificaciones / len(calificaciones)
print(promedio)

# Para calcular el promedio se tuvo que sacar el promedio del ciclo for, ya que
# el ciclo for solo hará la suma de las calificaciones y el promedio
# se hará una vez que tengas la suma total de las calificaciones

9.12

# **FUNCIONES**

In [10]:
# Definir la función

def sumar_numeros(valor1, valor2):
  suma = valor1 + valor2
  return suma

resultado_suma = sumar_numeros(4, 9)

print('El resultado de la suma es:', resultado_suma)

13
El resultado de la suma es: None

In [12]:
# Ejercicio 1

def celsius_farenheit(celsius):
  farenheit = (celsius * (9/5)) + 32
  return farenheit

temperatura = celsius_farenheit(180)

print(temperatura)

356.0

In [13]:
# Ejercicio 2

def calcular_precio_con_descuento(precio_original, descuento):
  precio_final = (precio_original * descuento) / 100
  return precio_final

total = calcular_precio_con_descuento(200, 20)
print(total)

40.0

# **LISTAS**

In [15]:
# Creación de listas
# Las listas se definen con corchetes []

edad = [22,28,29,32,40]
nombres = ['Ana', 'Samuel', 'Mufasa', 'Maya', 'Planti']

# Para acceder a un objeto de una lista, se coloca el nombre de la lista
# y la posición que deseas ver, empezando el conteo desde el 0 (cero)

print(edad[2])
print(nombres[3])

29
Maya

In [16]:
# Para modificar un valor de una lista se selecciona el nombre de la lista
# junto con la posición que deseas modificar despues signo = y el nuevo valor

edad[0] = 37

print('Nueva lista actualizada: ', edad)

Nueva lista actualizada:  [37, 28, 29, 32, 40]